.App {
  font-family: sans-serif;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-register {
  width: 300px;
  background: #24303c;
  padding: 40px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: "calibri";
  color: white;
}
h4 {
  font-size: 22px;
  margin: 20px;
  margin-top: 0%;
}

.controls {
  width: 230px;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: "calibri";
  font-size: 18px;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}
.form-register .botons {
  width: 100%;
  background: #0051ff;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

.form-register .l{
    font-size: 13px;
}


.awa{
  color: blue;
  text-align: center;
}
.Lea{
  font-size: 14px;
}
.as{
  color: #0051ff;
}
.Zp{
  text-align: center;
  margin-top: 50px;
  
}

.container{
  text-align: center;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  display: block;
}
.form-control{
  text-align: center;
  justify-content: center;
  
}

.Silueta{
  width: 120px;
  height: 120px;
}
.linkec{
  font-size: 46px;
  
}
.h1a{
  font-size: arial;
  font-size: 40px;
}
.botonn{
  width: 240px;
  font-size: 20px;
  text-align: center;
  border-color: chartreuse;
  color: black;
  height: 32px;
  border-radius: 20px;


  
}
.boton2{
  font-size: 60px;
  text-align: center;
  padding-left: 32px;
  
}

.boton3{
  
  height: 32px;
  width: 240px;
  border-color: chartreuse;
  font-size: 20px;
  border-radius: 40px;
}
.bt{
  width: 240px;
  height: 32px ;
  border-color: chartreuse;
}
.bt2{
  height: 32px;
  font-size: 16px;
  width: 240px;
  border-color: chartreuse;
}
.hed{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  
}
.as{

  height: 40px;
  
}