.App {
  font-family: sans-serif;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-register {
  width: 300px;
  background: #24303c;
  padding: 40px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: "calibri";
  color: white;
}
h4 {
  font-size: 22px;
  margin: 20px;
  margin-top: 0%;
}

.controls {
  width: 230px;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: "calibri";
  font-size: 18px;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}
.form-register .botons {
  width: 100%;
  background: #0051ff;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

.form-register .l{
    font-size: 13px;
}


.awa{
  color: #009a00;
  text-align: center;
}
.Lea{
  font-size: 14px;
}
.eed{
  margin-top: 30px;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}
.as{
  color: #0051ff;
  
}
.Zp{
  text-align: center;
  margin-top: 50px;
  
}

.container{
  text-align: center;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  display: block;
}
.form-control{
  text-align: center;
  justify-content: center;
  
}

.Silueta{
  width: 120px;
  height: 120px;
}
.linkec{
  font-size: 46px;
  
}
.h1a{
  font-size: arial;
  font-size: 40px;
  color: #009a00;
  text-align: center;
}
.botonn{
  width: 240px;
  text-align: center;
  border-color: chartreuse;
  color : black;
  height: 32px;
  border-radius: 20px;


  
}
.boton2{
  text-align: center;

  
}

.boton3{
  
  height: 32px;
  width: 240px;
  border-color: chartreuse;
  font-size: 20px;
  border-radius: 40px;
  
}
.bt{
  width: 260px;
  height: 32px ;
  border-color: chartreuse;
  
}

.hed{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  
  
}
.hed:hover{
 color: orange;
 text-decoration: none;

}
.hed:active{
  color: orange;
  text-decoration: none;
 
 }
.as{

  height: 40px;
  
}
a.adm{
 font-size: 16px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  display: block;
  color: black;

}

.mas{
  height: 22px;
}
.botonsubmit{
  text-align: right;
  
}
.botonsin{
  text-align: right;
  display: block;
  padding: 2px 1px;
  margin-left: auto;
  margin-right: auto;
}
.dislike{
 height: 32px;
}
.body{
  background-color: white;
  background-size: auto;
}

header{
    width: 100%;
    background-color: #0082e6;
    top: 0;
    left: 0;
    z-index: 100;
}

#btn-menu{
    display: none;
    
}
header label{
    display: none;
    width: 60px;
    padding: 10px;
    color: #fff;
    font-size: 30px;
    transition: all 500ms ease;
}
header label:hover{
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
}
.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}
.menu li a {
    text-decoration: none;
    color: #fff;
    display:block;
    padding: 15px 20px;
    transition: all 500ms ease;
}
.menu li a:hover{
 background-color: #1b9bff;   
}
@media(max-width:768px){
	header label{
		display:block;
	}
	.menu{
		position:absolute;
		background:#0082e6;
		width:100%;
		margin-top:-100%;
		transition:all 0.9s;
	}
	.menu ul{
		flex-direction:column;
        border-top: -1px solid blue;
	}

	#btn-menu:checked ~ .menu{
		margin:0;
  }
  
}
.h5{
  font-family: 'Times New Roman', Times, serif;
  color:white;
  display:block;
    padding: 15px 20px;
    transition: all 500ms ease;
    background-color: #1b9bff;
    transition: .5s;
 text-align: center;
    
}
#root{
  background:white;
}
.sesion{
  font-family: Arial, Helvetica, sans-serif ;
  color:white;
  display:block;
    padding: 15px 20px;
    transition: all 500ms ease;
    background-color: #1b9bff;
    transition: .5s;
}

.Silueta2{
  width: 200px;
  height: 200px;
}
.p-3 {
  padding: 1rem!important;
  background-color: #009a00;
  font-family: "Comfortaa", cursive;
}
.my-0{
  color: white;
}
.hed{
  color: white;
    font-family: "Arial";
}
.btn.btn-outline-primary{
padding: 6px 12px;
border-color: orange;
color: white;

}
.btn.btn-outline-primary:hover{
  color: white;
  background: orange;
  text-decoration: none;
  }
  .btn.btn-outline-primary:active{
   
    background: orange;
    text-decoration: none;
    }
.cover-heading{
  color: #009a00;
  text-align: center;
}
.my-0{
  color: black;
}
h5.my-0.mr-md-auto.font-weight-normal{
  color: white;
  font-size: 18px;

}
.my-0.font-weight-normal{
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;

}
.logofx{
  width: 120px;
  height: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
form.a{
  color: black;
 
}
.a{
  
  color: black!important;
}
.colorin{
  color: black;
}
.colorin:hover{
  color: orange;
  text-decoration: none;
  
}
.adm:hover{
  color: orange;
  text-decoration: none;
}
h1.boton2{
  color:  #009a00;
}
input#inputEmail.botonn{
  margin: 10px;
  outline: none;
}
button.boton3{
  margin: 6px;
  font-size: 16px;
  outline: none;
}
input#Nombre.bt{
  margin: 5px;
  text-align: center;
  outline: none;
}
input#inputEmail.bt{
  margin: 5px;
  text-align: center;
  outline: none;
}
input#inputPassword.bt2{
  margin: 5px;
  width: 260px;
  text-align: center;
  outline: none;
}
.bt{
  border-radius: 20px;
  border-color: chartreuse;
  outline: none;
}

  .bt2{
    height: 32px;
    font-size: 16px;
    width: 240px;
    border-color: chartreuse; 
    border-radius: 20px;
    text-decoration: none;
  }
  input#inputPassword.botonn{
    
    outline: none;
  }